<!DOCTYPE html>
<html>
<%- include('../layout/header'); -%>

<body>
    <div class="sebuah-kotak">
        <p class="title-login">Register</p>
        <hr>

        <form action="">
            <input type="text" class="form-login" name="email" placeholder="username">
            <input type="text" class="form-login" name="email" placeholder="email">
            <input type="text" class="form-login" name="email" placeholder="password">
        </form>
        <button type="submit">Register</button>
    </div>
    <%- include('../layout/footer'); -%>
</body>

</html>