<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hello</title>
    <style>
        body {
            font-family: 'Segoe UI', sans-serif;
            background: rgb(182, 233, 255);
        }

        .sidebar {
            height: 100%;
            width: 280px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: white;
            overflow-x: hidden;
            padding-top: 16px;
            box-shadow: 0 0 1px 0;
        }

        .sidebar a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 16px;
            color: black;
            display: block;
            margin-left: 20px;
        }

        .sidebar a:hover {
            background: #007bff;
            border-color: #007bff;
            color: white;
            width: 250px;
            border-radius: 5px;
        }

        .list {
            margin-top: 20px;
        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 50px;
        }

        .main {
            margin-left: 300px;
            padding: 0px 70px;
            background: white;
            margin-top: 80px;
            height: 500px;
            border-radius: 5px;
            box-shadow: 0 1px 2px rgb(68, 68, 68);
        }

        @media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

            .sidebar a {
                font-size: 18px;
            }
        }

        .form-group {
            margin-top: 30px;
        }
    </style>
</head>

<body>

    <div class="sidebar">
        <a href="#home"><img src="/images/logo.jpg" alt="">Muhamad Ferdinan Zamturoikhan</a>
        <div class="list">
            <a href="#services"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="#contact"><i class="fa fa-sitemap"></i> Inventory</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="main">
            <form action="http://localhost:3000/inventory/store" method="POST">
                <div class="form-group">
                    <br>
                    <h3 class="text-center">Inventory</h3>
                    <label for="nama_brg">Nama Barang</label>
                    <input type="text" class="form-control" name="nama_brg">
                </div>
                <div class="form-group">
                    <label for="jumlah_brg">Jumlah Barang</label>
                    <input type="text" class="form-control" name="jumlah_brg" </div>
                    <div class="form-group">
                        <label for="harga_brg">Harga Barang</label>
                        <input type="text" class="form-control" name="harga_brg">
                    </div>
                    <center><button type="submit" class="btn btn-primary btn-sm-10 mt-5" style="width: 400px;">Sumbit
                            Barang</button></center>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>