<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/mycss.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>